.painel-animado {
  -moz-transition:transform 0.8s;
  -webkit-transition:transform 0.8s;
  -ms-transition:transform 0.8s;
  -o-transition:transform 0.8s;
  transition:transform 0.8s;
}

.painel-animado.ng-leave-active {
    -moz-transform: scale(0.1);
    -webkit-transform: scale(0.1);
    -ms-transform: scale(0.1);
    -o-transform: scale(0.1);
    transform: scale(0.1);
  } 